@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@font-face {
    font-family:'edo';
    src: url(../fonts/edo.ttf);
}
@font-face {
    font-family:'bodoni';
    src: url(../fonts/bodoni.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
    --main-color: #2cb8f0;
    --second-color:#fff;
}
section{
    padding: 50px 10%;    
}
img{
    width: 100%;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 4px 41px rgb(255, 255, 255);
    padding: 15px 10%;
    transition: 0.2s;   
}
.logo-icono{
    font-family: 'edo';
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img {
    width: 40px;
}
.navbar-nav{
    background-color: #000000;
    font-family: 'edo';
    font-size: 110%;
}
.navbar-nav a{
    color: #ffffff;
}
.home{
    width: 100%;
    min-block-size: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../media/chango2.jpg);
    background-size: cover;
    gap: 1rem;
}
.home-text{
    flex: 1 1 17rem;
    margin-right: 30%;
}
.home-img{
    flex: 1 1 17rem;
}
.home-img img{
    animation: animate 3s linear infinite;
}
@keyframes animate{
    0%{
        transform: translate(-11px, 0);
    }
    50%{
        transform: translate(-0px, -11px);
    }
    100%{
        transform: translate(-11px, 0);
    }
}
.home-text span{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--second-color);
    font-family: 'bodoni';
}
.home-text h1{
    font-size: 3.2rem;
    color: #fff;
    font-weight: bolder;
    font-family: 'bodoni';
}
.home-text h2{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--second-color);
    text-transform: uppercase;
    margin: 0.5rem 0 1.4rem;
    font-family: 'bodoni';
}
/*seccion musica*/
.musica{
    background-image: url(../media/kerydofondo2.png);
    background-size: cover;
    padding: 10%;
}
/*seccion conocenos*/
.miembro-uno{
    background-image: url(../media/fondoinicio.jpg);
    background-size: cover;
    padding: 25%;
    text-align: center;
}
.miembro-dos{
    background-image: url(../media/chango3.jpg);
    background-size: cover;
    height: 800px;
}
.miembro-cinco{
    background-image: url(../media/DSC_0180.jpg);
    background-size: cover;
    height: 800px;
}
.miembro-seis{
    background-image: url(../media/DSC_0181.jpg);
    background-size: cover;
    height: 800px;
}
.text-anibal{
    font-family: 'edo';
    color: #fff;
}
.text-carla{
    font-family: 'edo';
    color: #fff;
}
.text-ricki{
    font-family: 'edo';
    color: #fff;
}
.text-ile{
    font-family: 'edo';
    color: #fff;
}
.text-gonzalo{
    font-family: 'edo';
    color: #fff;
}
.miembro-tres{
    background-image: url(../media/DSC_0076.jpg);
    background-size: cover;
    height: 800px;
}
.miembro-cuatro{
    background-image: url(../media/ricki.jpg);
    background-size: cover;
    height: 800px;
}
.conocenos-text{
    font-family: 'edo';
    color: #fff;
    margin-top: -30%;
    font-size: 130%;
}
/*contactanos*/
.contactanos {
    background-image: url(../media/chango3.jpg);
    background-size: cover;
      background-position: center;
      height: 800px;
      color: #ffffff;
      text-align: center;
      padding-top: 200px;
} 
.contact-form {
    font-family: 'edo';
    max-width: 60%;
    margin: 0 auto;
}
.contact-form input,
.contact-form textarea {
    background-color: transparent;
    width: 100%;
    padding: 10px;
    border-color: #fff;
    color: #fff;
}
.contact-form button {
    padding: 10px 20px;
    background-color: #000000;
    color: rgb(255, 255, 255); 
    border-color: #fff;
}
/* footer */
footer{
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: static;
    bottom: 0;
    width: 100%;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}
.contact-info p {
    margin: 5px 0;
} 
.container {
    max-width: 960px;
    margin: 0 auto;
}
  .social-icons a {
    color: #fff;
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
} 
.social-icons a:hover {
    color: #aaa;
}
/*check-menu*/

#checkbox-menu, label.menu{
    display: none;
    
    }
    .fa-solid{
      margin-right:10px;
    }
    .fa-bars{
      margin-left: 100px;
    }


/*query de menu*/
@media screen and (max-width:768px) {
    .navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #000000;
    border: #fff 2px solid;
}   
label.menu {
    display: block;
    font-size: 25px;
    cursor: pointer;
}    
#checkbox-menu:checked ~ ul {
    display: block;
}
}
@media screen and (max-width:600px) {
    .navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #000000;
    border: #fff 2px solid;
}   
label.menu {
    display: block;
    font-size: 25px;
    cursor: pointer;
}    
#checkbox-menu:checked ~ ul {
    display: block;
}
}
/*media query contactanos*/
@media (max-width: 600px) {
.contactanos {
      height: 600px;
      padding-top: 150px;
} 
.contact-form {
      max-width: 100%;
    }
} 
@media (max-width: 400px) {
.contactanos {
      height: 600px;
      padding-top: 100px;
} 
.contact-form {
      max-width: 100%;
}
.contact-form input,
.contact-form textarea {
      padding: 5px;
} 
.contact-form button {
      padding: 5px 10px;
    }
}
.tienda-fondo{
    background-image: url(../media/chango3.jpg);
    background-size: cover;

}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 5px;  
 
}

.grid-item {
  text-align: center;
  font-family: 'edo';
  font-size: 30px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  justify-content: space-between;
}

.grid-item img {
  width: 100%;
  border-radius: 50px; 
 
}

.grid-item p {
  margin-top: 5px;
  
  padding-bottom: 25px;
}
/*home*/
@media (max-width: 999px) {
    .home{
        background-image: url(../media/chango1.jpg);
        margin-top: 5%;
    }
    .home-text {
        margin-right: 0;
    }
}
@media (max-width: 768px) {
    .home{
        background-image: url(../media/chango1.jpg);
        
    }
    .home-text {
        margin-right: 0;
    }
}
@media (max-width: 600px) {
    .home{
        background-image: url(../media/chango1.jpg);
        padding-top: 20%;
    }
    .home-text {
        margin-right: 0;
    }
}

/*media query conocenos*/

@media (max-width: 768px) {
    .miembro-uno,
    .miembro-dos,
    .miembro-cinco,
    .miembro-seis,
    .miembro-tres,
    .miembro-cuatro {
        height: 400px;
    }

    .conocenos-text,
    .text-anibal,
    .text-carla,
    .text-ricki,
    .text-ile,
    .text-gonzalo {
        font-size: 100%;
    }
}

/*Media query musica*/


@media (max-width: 600px) {
    .musica {
      height: 100%;
      padding-top: 150px;
    }
  
    .spotify-player {
      margin-left: 10%;
    }
  }
  
  
  @media (max-width: 400px) {
    .musica {
      height: 100%;
      padding-top: 100px;
    }
  
    .spotify-player {
      margin-left: 10%;
    }
  }



