@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@font-face {
    font-family:'edo';
    src: url(../fonts/edo.ttf);
}
@font-face {
    font-family:'bodoni';
    src: url(../fonts/bodoni.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
    --main-color: #fde403;
    --second-color:#fff;
}
section{
    padding: 50px 10%;    
}
*::selection{
    color: #fff;
    background: var(--main-color);
}
img{
    width: 100%;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    padding: 15px 10%;
    transition: 0.2s;   
}
.logo{
    display: flex;
    align-items: center;
}
.logo img {
    width: 40px;
}
.navbar{
    list-style: none;
    display: flex;
}
.navbar a{
    font-size: 1rem;
    padding: 11px 20px;
    color: var(--second-color);
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}
.navbar a:hover{
    color: var(--main-color);
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}
.home{
    width: 100%;
    min-block-size: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../media/chango2.jpg);
    background-size: cover;
    gap: 1rem;
}
.home-text{
    flex: 1 1 17rem;
}
.home-img{
    flex: 1 1 17rem;
}
.home-img img{
    animation: animate 3s linear infinite;
}
@keyframes animate{
    0%{
        transform: translate(-11px, 0);
    }
    50%{
        transform: translate(-0px, -11px);
    }
    100%{
        transform: translate(-11px, 0);
    }
}
.home-text span{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--second-color);
    font-family: 'bodoni';
}
.home-text h1{
    font-size: 3.2rem;
    color: #fff;
    font-weight: bolder;
    font-family: 'bodoni';
}
.home-text h2{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--second-color);
    text-transform: uppercase;
    margin: 0.5rem 0 1.4rem;
    font-family: 'bodoni';
}
.btn{
    padding: 7px 16px;
    border: 2px solid var(--second-color);
    border-radius: 40px;
    color: var(--second-color);
    font-weight: 500;
    font-family: 'bodoni';
}
.btn:hover{
    color: #fff;
    background: var(--second-color);

}
/*footer*/
footer {
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: static;
    bottom: 0;
    width: 100%;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  
  .contact-info p {
    margin: 5px 0;
  }
  
  
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  .social-icons a {
    color: #fff;
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #aaa;
  }